#################################
#       .NET / C# BACKEND       #
#################################

# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Others
.vs/
.vscode/
TestResults/
*.dbmdl
*.pdb
*.cache
*.mdb
*.opendb
*.ldb

# Entity Framework Migrations snapshot files
Migrations/*.Designer.cs

# Secrets
secrets.json

#################################
#         NODE / REACT          #
#################################

# Node modules
node_modules/

# Build output
/build
/dist

# Runtime files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env
.env.*.local

# IDEs / Editors
.DS_Store
.vscode/
.idea/

# Misc
*.local
*.tgz
.cache/
.eslintcache
.next/
out/
coverage/

# Nginx cache (if applicable)
nginx/cache/

#################################
#          DOCKER STUFF         #
#################################

*.pid
*.seed
*.bak
*.swp
docker-compose.override.yml
